span.svelte-1597r1 {
    padding-right: 8px;
}

.link.svelte-1597r1.svelte-1597r1:hover {
    padding-left: 6px !important;
}

li.svelte-1597r1.svelte-1597r1 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

div.flex.align-bottom.link.svelte-1597r1 p.small.muted.svelte-thzrmn {
    padding-top: 5px;
}