.admonition {
    --line-width: auto !important
}

/* .admonition-content {
    margin: 0 15px !important;
    position: relative !important;
    overflow-x: auto !important;
} */

/* .admonition-title {
    position: relative !important;
    padding: 0.35rem 0.5em 0.35rem 0.25em !important;
    font-weight: 600 !important;
    background-color: rgba(var(--admonition-color), 0.1) !important;
} */

/* .admonition-title-icon {
    display: inline-block;
}

.admonition-title-content {
    display: inline-block;
} */

.admonition-title {
    padding: 0.4em 9px;
}

.admonition-content {
    padding: 0 15px;
}

.admonition-content p,
.admonition-content ul,
.admonition-content ol,
.admonition-content table  {
    margin: 0.7em 0 !important;
}