.callout,
.admonition {
    --line-width: auto !important
}

.callout-title,
.admonition-title {
    padding: 0.35em 9px;
}

.callout-title-inner code,
.admonition-title-content code {
    color: #fd5eb8;
    font-weight: 400;
}

.callout-content,
.admonition-content {
    padding: 0 15px;
}

.callout-content p,
.admonition-content p,
.callout-content ul,
.admonition-content ul,
.callout-content ol,
.admonition-content ol,
.callout-content table,
.admonition-content table  {
    margin: 0.7em 0 !important;
}
