.nav-files-container .nav-file-title-content {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-files-container .nav-folder-title-content {
    line-height: 1.4;
}

.nav-files-container .mod-root > .nav-folder-title {
    display: none;
}

.nav-files-container .nav-file .nav-file-title {
    padding-top: 2px;
}